<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parkankaraandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".entranceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Locations"
            android:label="Lokasyonlar"
            android:parentActivityName=".entranceActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.parkankaraandroid.entranceActivity" />
        </activity>

        <activity   android:name=".MapsActivity"
                    android:label="Harita"/>

        <activity
            android:name=".FavoriteCarParks"
            android:label="Favori Otoparklar"
            android:parentActivityName=".entranceActivity">
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.parkankaraandroid.entranceActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBllqFgsBV_oe5hUJ6QCh5qqBkV9uRoqpE"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".AvailabilityChecker"
            android:stopWithTask="false"/>

    </application>

</manifest>